@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-highlighter;
  }

  body {
    @apply font-body text-ink antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-display;
  }
}

@layer utilities {
  .highlight-underline {
    background-image: linear-gradient(
      to right,
      theme('colors.highlighter.DEFAULT'),
      theme('colors.highlighter.DEFAULT')
    );
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 88%;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
